.App {
  background-image: url('C:\Users\user\Desktop\blockchain\web3\src\assets\canva.png');
  width: 100%; 
  border: none;
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border: 0.2px solid black;
  border-radius: 4px;
}

.search-button {
  background-color: lightcoral;
  border: 0.2px solid black;
  border-radius: 4px;
  padding: 10px 20px;
  color: white;

}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-shadow:  0 8px 16px rgba(19, 13, 13, 0.1);
  border-radius: 20px;
}